/* Declare font for website*/
body {font-family: Arial, Helvetica, sans-serif;} 

/* Navigation Bar Styling for Vertical Nav Bar on initial landing page */
.collapsible {
  background-color: #48D1CC;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

#nobullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  font-size: 18px; /* Set font */
}
 
.navbar {
  width: 100%;
  background-color: #48D1CC;
  overflow: auto;
} 

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #008B8B;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #F5FFFA;
}

a.dropdown-item{  
  padding-top:20px;
  padding-bottom: 20px;
  position: fixed;
  line-height: 24px;
}
/* Navigation Bar Styling for Horizontal Nav Bar on Secondary Pages */

.othernavbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.horizontal {
  float: left;
}

.horizontal a {
  display: block;
  color: #48D1CC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.horizontal a:hover {
  background-color: #008B8B;
}


/* Make the website responsive to different screen sizes */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}


/* Styling Main Content on Landing Page */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

h1 {
    background-color: #48D1CC
} 

#viz{
  margin-top: 100px;
  margin-left: 39%;
}

#p1 {
  padding-top: 50px;
}

#wrapper {
    width: 1000px;
  }

  #first-globe {
    width: 300px;
    margin-left: 100px;
    float: left;
    
  } 

/* Style lower matplotlib charts on landing page */
.picture-box {
    margin-top: 10px;
    margin-left: 100px;
    display: flex;
    max-width: 300px;
    background:#cpeeff;
    padding: 10px;
    flex-direction: row;
    text-align: center;
  }  


  /* Return to homepage from other landing pages */
 .tohomepage {
    background-color: #48D1CC;
    padding-right:100%;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
 }

  /* Data landing page styling */

  dt {
    margin-bottom: 15px;
    margin-left: 15px;
  }

  #define {
    text-align: center;
  }
  table {
    width: 100%;
  }
  
#tablename {
    text-align: center;
  }
  
.dataframe {
    border: 1px solid black;
    padding: 15px;
  } 

  th {
      text-align: center;
    } 
  
  tr {
      text-align: center;
      color: black;
    }  
  
    td {
        height: 50px;
    }
  
    th, td {
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
      background-color:  #48D1CC;
  }
  
  tr:nth-child(even) {
      background-color: #f2f2f2;
  }


